<h1>
  年齢：<%= profile.age %>歳<br>
  性別：<%= profile.sex %><br>
  職業：<%= profile.sex %><br>
  都道府県：<%= profile.address %><br>
  自己紹介：<%= profile.introduce %><br><br>
  <!--<% if logged_in? %>-->
  <!--  <%= link_to "編集",edit_profile_path(profile.id) %>-->
  <!--<% end %>-->
</h1>