<div class="gelande-index-wrapper">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="gelande-index-single">
            <h2 class="gelande-information">
              <%= post.title %>
            </h2>
            <p class="gelande-information">
              場所：<%= post.gelande.name %><br>
              日付：<%= post.date %><br>
              手段：<%= post.how %><br>
              <%= post.text %><br>
            </p>
            <h3>
            <% if !post.participant_users.include?(current_user) %>
              <%= link_to participants_path(post_id: post.id), method: :post do %>
                <%= image_tag 'join-powder.png', class: 'post-index-icon' %>
              <% end %>
            <% else %>
              <%= link_to participants_path(post_id: post.id), method: :delete do %>
                <%= image_tag 'cancel-powder.png' , class: 'post-index-icon'%>
              <% end %>
            <% end %>
            </h3>
            <p>
              <% if logged_in? %>
                <%= link_to "編集",edit_post_path(post.id) %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>